
<div class="flex justify-center items-center h-screen bg-gray-900">
  <mat-card class=" bg-slate-500-800 text-white p-8 rounded-lg shadow-lg max-w-sm w-full">

    <div class="flex justify-end items-center mb-6">

      <h2 mat-card-title class="text-xl font-bold">انتخاب کلمه عبور جدید </h2>

    </div>

<p class="flex justify-end row-auto ">
کلمه عبور خود را وارد کنید
</p>
    <p class="flex justify-end">کلمه عبور</p>

  <mat-form-field >
    <mat-label >کلمه عبور خود را وارد کنید</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
   
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button> 
  </mat-form-field>
  <p class="flex justify-end">ورود مجدد کلمه عبود</p>
  <mat-form-field>
    <mat-label>کلمه عبور خود را مجدد وارد کنید</mat-label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>


 <button mat-basic-button="rounded-lg"
 class=" w-full py-3 rounded-lg font-semibold transition"
 style=" background: #60a5fa ;"
 type="submit"
 >
ذخیره
</button>

  </mat-card>
</div>

